.App {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.app-name {
  font-size: 40px;
  text-align: center;
  color: rgb(70, 70, 70);
  margin: 80px 0;
}
.app-name span {
  font-style: italic;
}

.add-person {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-name {
  margin-left: 15px;
  color: rgb(70, 70, 70);
}
.header-name span {
  font-style: italic;
}
.jumbotron {
  background-image: url(../src/img/unsplash-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.sign-up-buttons {
  margin: auto 0;
  border: none;
  margin-right: 15px;
}

.sign-up-buttons button {
  border: 1px solid transparent;
  padding: 5px;
}

.sign-in {
  color: rgb(252, 144, 56);
  background-color: rgba(255, 255, 255, 0.7);
}

.sign-up {
  background-color: rgb(252, 144, 56);
  color: white;
}

.add-input {
  padding: 8px;
  border-radius: 5px;
  width: 40%;
  border-style: hidden;
}
.add-button {
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: rgb(252, 144, 56);
  color: white;
}
.add-button:hover {
  box-shadow: 2px 2px 10px #fff;
}
.fliter-list {
}
.guest-container {
  padding: 15px;
  color: rgb(70, 70, 70);
  border: 1px solid darkgray;
}
.guest-container h2 {
  font-size: 32px;
  letter-spacing: 1px;
}

.invitees-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  border: 1px solid darkgray;
  box-shadow: 2px 2px 5px darkgray;
  width: 200px;
  height: 100px;
  padding: 25px;
  border-radius: 5px;
  text-align: left;
  margin: 20px;
  color: rgb(70, 70, 70);
  background-color: rgb(252, 252, 252);
}
.invitee-name {
  color: rgb(17, 105, 146);
  font-size: 20px;
  border-bottom: 1px solid transparent;
}
.input-name {
  color: rgb(17, 105, 146);
  font-size: 18px;
  width: 80%;
}
.confirmed-label {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}
.edit-button {
  background-color: rgb(17, 105, 146);
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.remove-button {
  background-color: rgb(31, 171, 236);
  color: white;
  border-radius: 5px;
  margin-top: 5px;
}
